{% load i18n %}
{% if perms.juntagrico.change_assignment %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#jst">
            {% trans "Statistik" %}
            <i class="fas fa-angle-right">
            </i>
        </a>
        <div class="collapse{% if request.resolver_match.app_name == 'jst' and 'view' in request.resolver_match.url_name %} show{% endif %}" id="jst">
            <ul class="nav flex-column subadmin-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jst:view-assignments' %}">
                        {% trans "Einsätze" %}
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endif %}